<html>
<head>
    <title>Index Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    a{
        margin-left: 70px;
        border: 2px black solid;
        border-radius: 5px;
        background-color: cyan;
    }
    .jumbotron{
        background-color:deeppink;
    }
    body{
        background-color:gray;
    }
    h1{
        margin-top: -40px;
        font-size: 70px;
        text-shadow: 5px 5px 5px blue;
    }
</style>
<body>
<div class="jumbotron text-center">
    <h1 class="text-center">CURD Operations</h1>
    <a href="/create/">Create</a>
    <a href="/update/">Update</a>
    <a href="/retrieve/">Retrieve</a>
    <a href="/delete/">Delete</a>
</div>

</body>
</html>